# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Publish
publish/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# ASP.NET Core
appsettings.Development.json

# Coverage
coverage/
*.coverage
*.coveragexml

# Temporary files
*.tmp
*.temp

# SQLite (se usar)
*.db
*.sqlite

# Node (caso use front junto)
node_modules/

# JetBrains
*.DotSettings.user